@model ArtViewModel
@{
    ViewData["Title"] = "View";
}

<div class="card mb-5">
    <h4 class="card-title text-center" style="margin-top: 25px;">@Model.ArtistFullName</h4>
    <h6 class="card-title text-center">@Model.DatePublished</h6>
    <img class="card-img-top" src="@Model.Image" alt="Can't load the image" style="object-fit: scale-down; height:650px;">
    <h6 class="card-title text-center" style="margin-top: 25px;">@Model.Tags</h6>
    <h6 class="card-title text-center" style="margin-left:25px; margin-right:25px;">@Model.Description</h6>
    <div class="center">
        <button type="button" class="btn btn-dark" style="width: 150px; text-align: center">
            <h6 class="card-title text-center"> @Model.Likes Likes</h6>
        </button>
    </div>
</div>

<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
</style>