@model ArtViewModel
@{
    ViewData["Title"] = "View";
}

<partial name="_NotificationsPartial" />

<div class="jumbotron">
    <div class="card mb-5">
        <h4 class="card-title text-center" style="margin-top: 25px;">@Model.ArtistFullName</h4>
        <h6 class="card-title text-center">@Model.DatePublished</h6>
        <img class="card-img-top" src="@Model.Image" alt="Can't load the image" style="object-fit: scale-down; height:650px;">
        <h6 class="card-title text-center" style="margin-top: 25px;">@Model.Tags</h6>
        <h6 class="card-title text-center" style="margin-left:25px; margin-right:25px;">@Model.Description</h6>
        <div class="center">
            @{
                var userId = User.GetId();
                var userIsAdmin = User.IsAdmin();

                if (Model.ArtistId == userId || userIsAdmin)
                {
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button id="like-button" type="button" class="btn btn-dark" style="width: 150px; text-align: center">
                            <a class="nav-link text-light" asp-controller="Art" asp-action="Like" asp-route-id="@Model.Id"> @Model.Likes Likes </a>
                        </button>
                        <button type="button" class="btn btn-dark" style="width: 150px; text-align: center">
                            <a class="nav-link text-light" asp-controller="Art" asp-action="Edit" asp-route-id="@Model.Id"> Edit </a>
                        </button>
                        <button type="button" class="btn btn-dark" style="width: 150px; text-align: center">
                            <a class="nav-link text-light" asp-controller="Art" asp-action="Delete" asp-route-id="@Model.Id"> Delete </a>
                        </button>
                    </div>
                }
                else
                {
                    <button id="like-button" type="button" class="btn btn-dark" style="width: 150px; text-align: center">
                        @Model.Likes Likes
                    </button>
                }
            }

        </div>
    </div>
</div>

<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
</style>
